# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
#auto-tqdm=1.0.3
notebook=6.2.0
numba=0.53.0
numpy=1.19.2
numpy-base=1.19.2
#p-tqdm=1.3.3
packaging=20.9
pandas=1.1.2
python=3.8.5
scikit-learn=0.23.2
scipy=1.6.2
seaborn=0.11.0
statsmodels=0.12.2
#torch=1.8.0
#torchfile=0.1.0
#torchvision=0.7.0
tornado=6.1
tqdm=4.59.0
